################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WoaW.TM.Web/v15/Server/sqlite3
