################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WoaW.TM.Web/v15/Server/sqlite3
/WoaW.STS/bin/Debug/netcoreapp2.0
/WoaW.STS/obj
/WoaW.WebAPI/bin/Debug/netcoreapp2.0
/WoaW.WebAPI/obj
