################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WoaW.TM.Web/

#server
/WoaW.STS/bin/
/WoaW.STS/obj
/WoaW.WebAPI/bin/
/WoaW.WebAPI/obj

#clients
/WoaW.Client.ConsoleHost/bin/
/WoaW.Client.ConsoleHost/obj

#models
/Models/WoaW.Models.Common/bin/
/Models/WoaW.Models.Common/obj
/Models/WoaW.Models.Parties/bin/
/Models/WoaW.Models.Parties/obj
/Models/WoaW.Models.WorkEfforts/bin/
/Models/WoaW.Models.WorkEfforts/obj

/Models/WoaW.Models.UnitTests/bin/Debug
/Models/WoaW.Models.UnitTests/obj/Debug
/packages
